:root {
  --primary: #fff !important;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.btn {
  padding: 8px 20px ;
  border-radius: 2px;
  outline: none !important;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent !important;
  color: #fff !important;
  padding: 8px 20px;
  border: 1px solid var(--primary) !important;
  transition: all 0.3s ease-out !important;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  margin-left: 5px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
  margin-left: 5px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff !important;
  color: #242424 !important;
  transition: 250ms;
}

button:focus {
  box-shadow: none !important;
}
