.profil {
  background-image: url("/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  /* font-size: 10px !important; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  padding: 10rem;
}

form {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  .formulaire form {
    width: 100%;
    margin: 0;
  }
  .profil {
    padding: 20px;
  }
}

.card {
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}
