.vendor-form {
  padding: 100px;
}

.container {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  margin: 5% 20% 5% 20%;
  font-size: 1.5rem;
  column-count: 2;
}
.btn-update,
.btn-service {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.vendor-profile {
  background-image: url("/images/img-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
