.container {
  display: inline-flex;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  margin: 5% 20% 5% 20%;
  font-size: 1.5rem;
}
p {
  text-align: left;
}
input[type="file"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 75%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.vendor-form {
  /* background-image: url("/images/img-8.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
  .formulaire form {
    width: 100%;
    margin: 0;
  }
  .vendor-form {
    padding: 20px;
  }
}
