.vendor-service {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: inline-flex;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  margin: 5% 20% 5% 20%;
  font-size: 1.5rem;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.container .vendor-service-form {
  margin: auto;
}
