* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.home,
.about,
.sign-up,
.sign-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url("/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
}

.sign-up,
.sign-in {
  background-image: url("/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 50px; */
}

.sign-in {
  background-image: url("/images/img-home.jpg");
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

.Profile {
  margin-top: 10%;
}
